* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav_bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: rgb(255, 255, 255);
}
.nav_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.nav_links a {
  font-size: 16px;
  list-style: none;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.nav_button {
  padding: 0.5rem 1rem;
  width: 150px;
  height: 40px;
  background-color: #0c2db3;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 30px;
}

header {
  margin-top: 80px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/banner.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: #fff;
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

header p {
  color: #ffffff9c;
  font-size: 18px;
  text-align: center;
}

.header_button {
  text-align: center;
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #0c2db3;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 380px;
}

.main_title {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 70px;
}

.speakers_container {
  width: 80%;
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 0px;
}

.speaker_card {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  margin: 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.speaker_image {
  width: 100%;
  height: 250px;
}

.speaker_image img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}

.speaker_card p {
  margin: 18px 20px 5px;
  font-size: 12px;
  font-weight: bold;
  color: #2563eb;
}

.speaker_card h2 {
  margin: 0 20px 10px;
  font-size: 20px;
  color: #1f2937;
}

.speaker_card .description {
  margin: 0 20px 20px;
  color: #6b7280;
  font-size: 14px;
}

.main_title2 {
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.description2 {
  text-align: center;
  font-size: 18px;
  color: #6b7280;
  margin-bottom: 50px;
}

.spot_container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.spot_card {
  width: 350px;
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.spot_card p {
  margin: 20px 30px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #4b4c4d;
}

.spot_card h2 {
  margin: 0 20px 10px;
  font-size: 45px;
  color: #1f2937;
}

span {
  display: block;
  width: 90%;
  height: 1px;
  margin: 10px auto;
  background-color: #52545630;
  margin-top: 30px;
}

.spot_card ul {
  margin: 20px 40px 20px;
}

.spot_card ul li {
  margin: 10px 0;
  font-size: 15px;
  font-weight: bold;
  color: #6b7280;
}

.spot_button {
  text-align: center;
  width: 80%;
  height: 40px;
  font-size: 16px;
  border: 2px solid #0c2db3;
  color: #000000;
  font-weight: bold;
  background-color: transparent;
  border-radius: 12px;
  cursor: pointer;
  margin: 0 10%;
  margin-bottom: 30px;
}

.spot_card_pro {
  background-color: #091632;
}

.spot_card_pro p {
  color: #7ba6f0;
}

.spot_card_pro h2 {
  color: #ffffffde;
}

.spot_card_pro ul li {
  color: #ffffffc5;
}
.spot_card_pro span {
  background-color: #ffffff4b;
}

.spot_card_pro .spot_button {
  color: #f8f8f8;
  background-color: #0f57d2;
  border: none;
}

footer {
  background-color: #0b0f19;
  padding: 20px 50px 20px;
  color: white;
  margin-top: 80px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_logo h5 {
  font-size: 24px;
  color: #ffffff89;
}

.footer_logo img {
  width: 35px;
  height: 35px;
}

.social_links {
  display: flex;
  gap: 20px;
}

.social_links a img {
  width: 30px;
  height: 30px;
}

footer hr {
  margin: 10px 0 20px;
  border: none;
  height: 1px;
  background-color: #343a40;
}

.copyright {
  text-align: center;
  color: #84878a;
  font-size: 14px;
}

.details-container {
  margin: 120px 10% 50px;
  display: flex;
  justify-content: space-between;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 20px 50px;
  width: 105%;
}
.container2 .imges img {
  width: 100%;
  height: 220px;
  border-radius: 15px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
}

.container2 .imges {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.container1 {
  width: 100%;
}

.description0 {
  height: 41%;
  width: 100%;
}
.description0 p {
  width: 80%;
  font-size: 15px;
  font-weight: bold;
  color: #1d1e1faa;
}
.description0 h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description5 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #6b7280;
  margin-bottom: 30px;

  background-color: #96b2d930;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.186);
  height: auto;
  width: 95%;
  padding: 30px 3px;

  border-radius: 15px;
}

.description5 div {
  padding: 0 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.19);
}

.description5 div img {
  margin-bottom: 2px;
}

.description5 .a1 h2 {
  color: #071758;
}

.description5 .a2 h2 {
  color: #106608;
}

.description5 .a3 h2 {
  color: #3398bd;
}

.description5 .a4 h2 {
  color: #ff2600c1;
}

.common {
  font-size: 15px;

  font-weight: bold;
}

.description3 {
  padding: 11px 20px;
  display: flex;
  gap: 10px;
  height: auto;
  width: 95%;
  background-color: #96b2d930;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.186);
}

.description3 img {
  margin-top: 5px;
  height: 30px;
  width: 30px;
}

.copyright-container{
  width: 100%;
  display:flex;
  justify-content: space-between;
}

.copyright2{
  display: flex;
  gap: 20px;
}
